<phpunit bootstrap="test/bootstrap.php"
	backupGlobals="false"
	backupStaticAttributes="false">
	
	<testsuites>
		<testsuite name="ALL THE TESTS!">
			<directory>test</directory>
			<exclude>test/bootstrap.php</exclude>
			<exclude>src/</exclude>
		</testsuite>
	</testsuites>
	
	<logging>
		<log type="coverage-html" 
			target="build/coverage" 
			title="Name of Project" 
			charset="UTF-8" 
			yui="true" 
			highlight="true" 
			lowUpperBound="35" 
			highLowerBound="70"/>
		
	</logging>
	
</phpunit>
