<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
  </head>
  <body>
    <div class="ui grid">
      <div class="twelve wide column">
        <h1>Content on the left</h1>
        {{{content}}}
      </div>
      <div class="four wide column">
        <h2>Sidebar on the right</h1>
        {{{sidebar}}}
      </div>
    </div>
  </body>
</html>
